<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity6">
    <head th:replace="~{layout/plantilla :: head}">
        <title>Let's Eat</title>
    </head>
    <body>
        <!-- 1 Fragmento que se utiliza en la página para regresar -->
      <section th:fragment="nuevoUsuario">
    <div class="row py-4 justify-content-center">
        <div class="col-md-6">
            <div class="text-end mb-3">
                <a th:href="@{/login}" class="btn btn-secondary">
                    <i class="fas fa-arrow-left"></i> Regresar
                </a>
            </div>
            <form method="POST" th:action="@{/registro/crearUsuario}" th:object="${usuario}" class="was-validated" 
                  style="box-shadow: 0px 6px 12px rgba(0, 0, 0, 0.2); border-radius: 15px; overflow: hidden; background-color: #fff8eb;">
                <div class="card">
                    <div class="card-header" style="background-color: #ff8000; color: white; text-align: center;">
                        <h4>Agregar Usuario</h4>
                    </div>
                    <div class="card-body">
                        <div class="mb-3">
                            <label for="username" class="fw-bold">Username</label>
                            <input type="text" class="form-control" name="username" th:field="*{username}"  style="border-radius: 10px;" />
                        </div>
                        <div class="mb-3">
                            <label for="nombre" class="fw-bold">Nombre</label>
                            <input type="text" class="form-control" name="nombre" th:field="*{nombre}"  style="border-radius: 10px;" />
                        </div>
                        <div class="mb-3">
                            <label for="apellidos" class="fw-bold">Apellidos</label>
                            <input type="text" class="form-control" name="apellidos" th:field="*{apellidos}"  style="border-radius: 10px;" />
                        </div>
                        <div class="mb-3">
                            <label for="email" class="fw-bold">Correo</label>
                            <input type="email" class="form-control" name="correo" th:field="*{correo}"  style="border-radius: 10px;" />
                        </div>
                    </div>
                    <div class="card-footer text-center" style="background-color: #fffaf2;">
                        <button type="submit" class="btn" style="background-color: #ffa94d; color: white;">
                            <i class="fas fa-envelope"></i> Activar
                        </button>
                    </div>
                </div>
            </form>
        </div>
    </div>
</section>


        <!-- 2 Fragmento que se utiliza activar un usuario -->
      <section th:fragment="activarUsuario">
    <div class="row py-4 justify-content-center">
        <div class="col-md-6">
            <form method="POST" th:action="@{/registro/activar}" th:object="${usuario}" 
                  class="was-validated" enctype="multipart/form-data" 
                  style="box-shadow: 0px 6px 12px rgba(0, 0, 0, 0.2); border-radius: 15px; overflow: hidden; background-color: #fff8eb;">
                <div class="card">
                    <div class="card-header" style="background-color: #ff8000; color: white; text-align: center;">
                        <h4>Activar Usuario</h4>
                    </div>
                    <div class="card-body">
                        <input type="hidden" name="idUsuario" th:field="*{idUsuario}" />
                        <div class="mb-3">
                            <label for="username" class="fw-bold">Username</label>
                            <input type="text" class="form-control" name="username" th:field="*{username}"  style="border-radius: 8px;" />
                        </div>
                        <div class="mb-3">
                            <label for="nombre" class="fw-bold">Nombre</label>
                            <input type="text" class="form-control" name="nombre" th:field="*{nombre}"  style="border-radius: 8px;" />
                        </div>
                        <div class="mb-3">
                            <label for="apellidos" class="fw-bold">Apellidos</label>
                            <input type="text" class="form-control" name="apellidos" th:field="*{apellidos}"  style="border-radius: 8px;" />
                        </div>
                        <div class="mb-3">
                            <label for="email" class="fw-bold">Correo</label>
                            <input type="email" class="form-control" name="correo" th:field="*{correo}"  style="border-radius: 8px;" />
                        </div>
                        <div class="mb-3">
                            <label for="telefono" class="fw-bold">Teléfono</label>
                            <input type="tel" class="form-control" name="telefono" th:field="*{telefono}" style="border-radius: 8px;" />
                        </div>
                        <div class="mb-3">
                            <label for="password" class="fw-bold">Contraseña</label>
                            <input type="password" class="form-control" name="password" th:field="*{password}" style="border-radius: 8px;" />
                        </div>
                        <div class="mb-3">
                            <label for="imagen" class="fw-bold">Imagen</label>
                            <input class="form-control" type="file" name="imagenFile" onchange="readURL(this);" style="border-radius: 8px;" />
                            <div class="text-center mt-3">
                                <img id="blah" th:src="@{${usuario.rutaImagen}}" alt="Vista previa de imagen" style="border: 1px solid #ddd; border-radius: 10px; max-height: 200px;" />
                            </div>
                        </div>
                    </div>
                    <div class="card-footer text-center" style="background-color: #fffaf2;">
                        <button type="submit" class="btn" style="background-color: #ffa94d; color: white;">
                            <i class="fas fa-check"></i> Activar
                        </button>
                    </div>
                </div>
            </form>
        </div>
    </div>
</section>



        <!-- 3 Fragmento que se utiliza recordar un usuario -->
        <section th:fragment="recordarUsuario">
    <div class="row py-2 justify-content-center">
        <div class="col-md-3">
            <section>
                <div class="col-md-4 d-grid">
                    <a th:href="@{/login}" class="btn" style="background-color: #ff8000; color: white; border-radius: 8px;">
                        <i class="fas fa-arrow-left"></i> Regresar
                    </a>
                </div>
            </section>
        </div>
    </div>
    <div class="row py-2 justify-content-center">
        <div class="col-md-3">
            <form method="POST"
                  th:action="@{/registro/recordarUsuario}" th:object="${usuario}"
                  class="was-validated"
                  style="box-shadow: 0px 6px 12px rgba(0, 0, 0, 0.2); border-radius: 15px; overflow: hidden; background-color: #fff8eb;">
                <div class="card">
                    <div class="card-header" style="background-color: #ff8000; color: white; text-align: center;">
                        <h4>Recordar Usuario</h4>
                    </div>
                    <div class="card-body">
                        <div class="mb-3">
                            <label for="username" class="fw-bold">Username</label>
                            <input type="text" class="form-control" name="username" th:field="*{username}" required style="border-radius: 8px;" />
                        </div>
                        <div class="mb-3">
                            <label for="email" class="fw-bold">Correo</label>
                            <input type="email" class="form-control" name="correo" th:field="*{correo}" required style="border-radius: 8px;" />
                        </div>
                    </div>
                    <div class="card-footer text-end" style="background-color: #fffaf2;">
                        <button type="submit" class="btn" style="background-color: #ffa94d; color: white;">
                            <i class="fas fa-address-card"></i> Recordar
                        </button>
                    </div>
                </div>
            </form>
        </div>
    </div>
</section>

    </body>
</html>