<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
    <head th:replace="layout/plantilla :: head">        
    </head>
    <body>
        <header th:replace="layout/plantilla :: header"></header>

        <div class="container my-5" >
            <!-- Título Principal -->
            <div class="text-center mb-4">
                <h1 id="tituloPrincipal">Bienvenidos</h1>
            </div>
            <div class="card mb-4">
                <div class="card-header "style ="background-color: #07dbb8;">
                    1- Restaurante
                </div>
                <div class="card-body card-body-custom">
                    <p class="mb-0">
                        Per Se ofrece una amplia variedad de platos de marisco y carne, todos ellos elaborados con productos frescos de la zona.
                        <div>Ubicación: </div>
                        <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d18101033.20476963!2d-81.53699230696476!3d45.34691654013012!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x89c258f62fec73a7%3A0x5e24118dffac8a65!2sPer%20Se!5e0!3m2!1ses-419!2scr!4v1731114584667!5m2!1ses-419!2scr" width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
                    </p>
                </div>
            </div>
            <div class="card mb-4">
                <div class="card-header "style ="background-color: #07dbb8;">
                    2- Restaurante
                </div>
                <div class="card-body card-body-custom">
                    <p class="mb-0">
                        La Cafetería Trecaffè - Via dei due Macelli es el lugar ideal para los amantes de la lectura. Además de una excelente selección de cafés y tés, ofrecen una amplia variedad de libros y revistas.</p>
                    <div>Ubicación: </div>
                    <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d1822205.7676270963!2d10.919467134511377!3d42.32460744660981!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x132f61ab5cfaaed3%3A0xf4da7256fe11f8a!2sTrecaff%C3%A8%20-%20Via%20dei%20due%20Macelli!5e0!3m2!1ses-419!2scr!4v1731114649161!5m2!1ses-419!2scr" width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
                    </p>
                </div>
            </div>
            <div class="card mb-4">
                <div class="card-header "style ="background-color: #07dbb8;">
                    3- Restaurante
                </div>
                <div class="card-body card-body-custom">
                    <p class="mb-0">
                        El invernadero food truck está causando furor con sus hamburguesas gourmet y sus patatas fritas caseras.</p>
                    <div>Ubicación: </div>
                    <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d615503.4066796917!2d-84.55525594505708!3d10.063007289106446!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x8fa0e33416803d9b%3A0x924ff33e11d7591d!2sEl%20invernadero%20food%20truck!5e0!3m2!1ses-419!2scr!4v1731114733397!5m2!1ses-419!2scr" width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
                    </p>
                </div>
            </div>
            <p> Si requiere solicitar información sobre recomendaciones puede escribirnos en el siguiente correo</p>
            <a href="mailto:recomendaciones@LetsEat.ac.cr?cc=soporte@LetsEat.ac.cr&subject=Recomendacion%20de%20restaurantes&body=Estimado%2Fa%20LetsEat%2C%0A%0AMe%20dirijo%20a%20ustedes%20para%20solicitar%20su%20asesoramiento%20en%20la%20planificaci%C3%B3n%20de%20un%20viaje%20a%20M%C3%A9xico%20del%2012%20de%20noviembre%202024%20al%2019%20de%20noviembre%202024.%0A%0AAdem%C3%A1s%2C%20nos%20gustar%C3%ADa%20conocer%20algunas%20recomendaciones%20de%20restaurantes%20locales%20donde%20podamos%20disfrutar%20de%20la%20gastronom%C3%ADa%20de%20la%20regi%C3%B3n.%0A%0AAgradecer%C3%ADa%20que%20me%20proporcionaran%20una%20lista%20de%20opciones%20que%20se%20ajusten%20a%20nuestro%20presupuesto%20y%20preferencias.%0A%0AQuedo%20a%20la%20espera%20de%20su%20respuesta.%0A%0AAtentamente%2C%0AGrupo%0Agrupo7%40desarrolloapliacioneswebpatrones.ac.cr"> 
                Enviar correo al LET´S EAT</a>
            <p class="lead text-center">
                LET´S EAT DERECHOS RESERVADOS 2024
            </p>
            <footer th:replace="layout/plantilla :: footer"></footer>
        </div>
    </body>
</html>
