<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
    <head th:replace="layout/plantilla :: head">
    </head>
    <body>
        <header th:replace="layout/plantilla :: header"></header>
        <h2 class="text-center bg-light p-2 rounded shadow">[[${restaurante.nombre}]]</h2>

        <div class="container">
            <img class="img-fluid" th:src="${restaurante.rutaImagen}" alt="Imagen del restaurante" height="200">
                <div class="pt-3">
                    <h5 class="fw-bold" th:text="${restaurante.nombre}"></h5>
                    <p class="text-muted" th:text="${restaurante.descripcion}"></p>
                    <p class="text-muted" th:text="${restaurante.direccion}"></p>
                    <section th:replace="restaurante/fragmentos :: AgregarReseña"/>
                    <section th:replace="restaurante/fragmentos :: VerReseña"/>
                    
                </div>
        </div>


        <footer th:replace="layout/plantilla :: footer"></footer>
    </body>
</html>